<%layout('../layouts/boilerplate')%>

<div class="row mt-2 mb-3">
    <h1 class="text-center mb-3">Edit campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="post" enctype="multipart/form-data" class="mb-3 needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title: </label>
                <input type="text" class="form-control" name="camp[title]" id="title" placeholder="Enter title" value="<%=camp.title%>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location: </label>
                <input type="text" class="form-control" name="camp[location]" id="location" placeholder="Enter location" value="<%=camp.location%>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price: </label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="number" class="form-control" name="camp[price]" id="price" aria-label="price" aria-describedby="price-label" value="<%=camp.price%>" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                  </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description: </label>
                <textarea type="text" class="form-control" name="camp[description]" id="description" placeholder="Enter description" required><%=camp.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" name="image" id="image" multiple>
                    <label for="image" class="form-file-label">Add more image(s)...</label>
                </div> 
            </div>
            <div class="mb-3">
                <% camp.images.forEach((img,i)=>{ %>
                    <img src="<%=img.url%>" class="img-thumbnail" width="200" height="200" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                <% }) %>
            </div>
            <div class="mb-3 form-check">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
            <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">Back to Campground</a>   
    </div>
</div>